/* Font du site */

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 23px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 21px;
}

h4{
    font-size: 17px;
}

p{
    font-size: 17px;
}

.lien_gras{
    font-weight: bold;
}

#input_recherche{
    font-weight: bold; 
}