/* Font du site */

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 13px;
}

p{
    font-size: 12px;
}

#input_recherche{
    font-weight: bold; 
}