/* CSS pour le style pour le menu*/


.liste_menu {
    list-style: none;
}

.liste_menu li{
    cursor: pointer;
    border-top: 5px solid white;
}

.liste_menu li:hover{
    border-top: 5px solid var(--bleu-fonce);
}


.liste_menu li:hover a{
    color: var(--bleu-fonce);
}

#selected{
    border-top: 5px solid var(--bleu-fonce);
}

#selected a{
    color: var(--bleu-fonce);
}

/* Version responsive */
@media screen and (max-width: 768px) {

    .liste_menu li{
        cursor: pointer;
        border-bottom: 5px solid var(--gris-claire);
        border-top: none;
    }

    .liste_menu li:hover{
        border-top: none;
        border-bottom: 5px solid var(--bleu-fonce);
    }

    #selected{
        border-top: none;
        border-bottom: 5px solid var(--bleu-fonce);
    }
    
    #selected a{
        color: var(--bleu-fonce);
    }
}