.activite{
    padding: 30px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.activite_grid{
    display: flex;
    gap: 30px;
    height: 450px;
}

.activite_partie{
    display: flex;
    width: 50%;
    gap: 30px;
}

.activite_une_carte{
    height: 100%;
    width: 50%;
}

.activite_deux_carte{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 50%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .activite{
        padding: 30px 30px 30px 30px;
    }

    .activite_grid{
        flex-direction: column;
        gap: 50px;
    }

    .activite_partie{
        width: 100%;
        height: 450px;
    }
}

@media screen and (max-width: 768px) {
    .activite{
        padding: 25px 25px 25px 25px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .activite_grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .activite_partie{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .activite_une_carte{
        height: 150px;
        width: 100%;
    }
    
    .activite_deux_carte{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .activite_carte{
        flex-direction: column;
        height: 150px;
        width: 100%;
    }
    
    .moyenne_carte{
        height: 100%;
        width: 100%;
    }
    
    .petite_carte{
        height: 100%;
        width: 100%;
    }
    
    .titre_activite{
        display: flex;
        align-items: center;
        padding: 15px 0px 15px 10px;
    }

    .activite .titre{
        padding-bottom: 25px;
    }
}