/* Défini les fondation de la page*/

/* Import */
/* Import styles layout */
@import url(./layouts/activite_layout.css);
@import url(./layouts/cartes_layout.css);
@import url(./layouts/filtres_layout.css);
@import url(./layouts/footer_layout.css);
@import url(./layouts/header_layout.css);
@import url(./layouts/hebergement_layout.css);

/* Import styles composant */
@import url(./composants/cartes.css);
@import url(./composants/categorie.css);
@import url(./composants/font.css);
@import url(./composants/footer.css);
@import url(./composants/hebergement.css);
@import url(./composants/icones.css);
@import url(./composants/menu.css);

/* Déclaration des variables de couleur */
:root {
    --bleu-select: #013e9a;
    --bleu-fonce: #0065fc;
    --bleu-claire: #deebff;
    --gris-claire: #f2f2f2;
    --blanc: #fff;
}

/* Reset css */
* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

html{
    scroll-behavior: smooth;
}
/* Layout du body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
/* Layout du main*/
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}


