/*Recherche lieu*/
.filtre_recherche input{
    border: solid var(--gris-claire) 2px;
    border-radius: 0px 0px 0px 0px;
}

.filtre_recherche input{
    border: solid var(--gris-claire) 2px;
    border-radius: 0px 0px 0px 0px;
}

.filtre_recherche button{
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: var(--blanc);
    background-color: var(--bleu-fonce);;
}

/*Filtre theme*/

.filtre_theme_items{
    border: solid var(--gris-claire) 3px;
    border-radius: 50px;
}
