.carte{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 33%;
    padding: 5px;
}

.carte_photo{
    width: 100%;
    height: 139px;
}
.carte_info{
    padding-left: 10px;
}

.carte_note{
    display: flex;
}


/*Carte populaire */

.carte_populaire{
    display: flex;
    gap: 30px;
    padding: 5px;
}

.carte_populaire_image{
    width: 200px;
    height: 139px;
}

.carte_populaire_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;

}

.carte_populaire_note{
    display: flex;
}

/*Activité*/

.activite_separation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.carte_activite_1 {
    grid-area: 1 / 1 / 4 / 2;
}
.carte_activite_2 {
    grid-area: 1 / 2 / 3 / 3;
}
.carte_activite_3 {
    grid-area: 3 / 2 / 4 / 3;
}
.carte_activite_4 {
    grid-area: 1 / 3 / 4 / 4;
}
.carte_activite_5 {
    grid-area: 1 / 4 / 2 / 5;
}
.carte_activite_6 {
    grid-area: 2 / 4 / 4 / 5;
}
