.carte{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    padding: 5px;
}

.carte_photo{
    width: 250px;
    height: 120px;
}
.carte_info{
    padding-left: 10px;
}

.carte_note{
    display: flex;
}


/*Carte populaire */

.carte_populaire{
    display: flex;
    gap: 30px;
    padding: 5px;
}

.carte_populaire_image{
    width: 200px;
    height: 139px;
}

.carte_populaire_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;

}

.carte_populaire_note{
    display: flex;
}

/*Activité*/
.carte_activite{
    height: 500px;
}

.carte_activite .image{
    width: 300px;
    height: 250px;
}

.carte_activite .titre{
    margin: 20px;
}