main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.filtre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 60px;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
}

/*Recherche lieu*/
.filtre_recherche{
    display: flex;
    height: 50px;
}


.filtre_recherche input[type=text] {
    padding-left: 10px; 
    border-radius: 0px;
}

.filtre_recherche button{
    padding: 0px 10px 0px 10px;
}

/*Filtre theme*/

.filtre_theme{
    display: flex;
    align-items: center;
    gap: 50px;
}

.filtre_theme_items{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 44px;
}

.filtre_theme_items h4{
    padding: 0px 15px 0px 15px;
}

.filtre_theme_items .icone{
    margin: -3px;
}

/*Filtre info*/
.filtre_info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtre_info .icone{
    height: 25px;
    width: 25px;
}

/*Hebergement*/ 

.hebergement{
    display: flex;
    gap: 35px;
    margin-left: 60px ;
}

.hebergement_marseille{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    background-color: var(--gris-claire);
    border-radius: 20px;
    
}


.hebergement_marseille .ligne{
    display: flex;
    gap: 30px;
}

.hebergement_populaires{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    background-color: var(--gris-claire);
    border-radius: 20px;
}

.hebergement_populaires .titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

