/* Color variable */

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-dark-gray: #343534;
$colour-gray:#ebebea;
$colour-light-grey: #f6f7f7;
$colour-white: #fff;


/*Font variables*/
$font-size-normal: 15px;
$font-size-titre: 25px;

 
